@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');



* {
    margin: 0px;
    padding: 0px;
    background-color: black;
    list-style: none;
    text-emphasis: none;
    }

header {

height: 90px;
display: flex;
justify-content: space-around;
align-items: center;
}
nav {
    width: 60%;
}
ul {
display: flex;
width: 100%;
justify-content: space-between;
}
li {
list-style: none;
color: aliceblue;
cursor: pointer;
font-size: 19px;
transition: 5s;
font-family: "kdam thmor pro" , sans-serif;

}
li:hover {
color: red;
}

#logo {
    width: 150px;
    height: 80px;
}
#banner {
  
    background-image: url("https://i.pinimg.com/originals/19/88/1e/19881e6329a253e20baa97920d44563a.png");
    background-position: 50% 50%;
 background-size: cover;
    width: 100%;
    height: 600px;
   
}
#trailer-container {
width: 100%;
height: 400px;
display: flex;
justify-content: center;
}

.content {
width: 60%;
display: flex;
align-items: center;
justify-content: space-between;
}

.trailer {
width: 50%;

}
#sinopse { 
    width: 50%;
    display: flex;
    flex-direction: column;
justify-content: space-between;
margin-left: 30px;
}

.description {
    color: red;
    font-family:"kdam thmor pro" , sans-serif;
    width: 70%;
    font-size: 19px;
    transition: 1s;
}

.button {
    width: 200px;
    height: 60px;
    background-color: red;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
 
}

.button:hover { 
    background-color: white;
    color: black;
}

    .actor-cards-container {
width: 100%;
display: flex;
justify-content: center;
margin-top: 50px;
    }

    .cards-content {
width: 90%;
display: grid;
grid-template-columns: repeat(3 ,1fr);
row-gap: 20px;
column-gap: 40px;
    }
.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction:column ;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family:"kdam thmor pro" , sans-serif;
}
.card:hover {
    transform: scale(1.09);
    }
    
 .banner-1 {
    background-image: url("https://t.ctcdn.com.br/lGx2Jf1eyHoNELVsDho7lukwM20=/720x405/smart/filters:format(webp)/i586811.png");

    }

.banner-2 {
    background-image: url("https://ellebrasil-wp-images.s3.amazonaws.com/2022/08/origin-118.jpg");

    }
.banner-3 {
    background-image: url("https://scontent.fpoa12-1.fna.fbcdn.net/v/t1.6435-9/120887530_356141422485286_3353336633780108046_n.jpg?stp=cp0_dst-jpg_e15_p320x320_q65&_nc_cat=111&ccb=1-7&_nc_sid=110474&_nc_ohc=EzVc_iIC2dAAX9Dcxmr&_nc_ht=scontent.fpoa12-1.fna&oh=00_AfCpkRRjBd7ITfDJCMI3D6QPNwNjY5aNjaDzhklHjx_kpA&oe=6402BAC4");
    }
footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
    
span {
    color: #fff;
    font-family:"kdam thmor pro" , sans-serif;
}
.footer-navigation {
display: none;
background-color: blue;

}


.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;
 
 }

nav{

    color: red;
}

 
    
    
    
    
        
     
     
